<div class="grid_12" id="q">
  <div style=" ">
    <div class="f_stuffies"><img src=<%= (get_follower(profile.idNo)).photo.url(:small) %> alt="rawr"/></div>
    <!-- <div class="f_notif ">
      <ol>
        <li>There are no notifications concerning your ward as of this time.</li>

      </ol>
    </div>-->
  </div>

  <a class="t_tab" href="#q">

    <span class="f_name"><%= profile.fullname %> - Enrolled</span><br/>
    <span class="f_idno"><%= profile.idNo %></span><br/>
    <span class="f_course"><%= profile.yrcourse %></span>
  </a>


  

    <div class="f_bottom"></div>

  </div>