<div class="grid_6">
  <h1><%= t :about_oasis %></h1>

            <%= t :about_oasis_message %>
			<br/><br/>
            <h1><%= t :about2_oasis %></h1>

        <%= t :about2_oasis_message %>

<ul style="list-style:square;margin-left:35px;"><li>Jesus Anthony Aguas</li>
<li>Anton Yoel Buenavista</li>
<li>Richard James Clemente</li>
<li>Jonah Jose Espelita</li>
<li>Noreen Danielle Fabia</li>
<li>Franklin Anthony Go</li>
<li>Kasima Rose Mendoza</li>
<li>BJ Saringan</li>
</ul>

		</div> 