
<div class="grid_12"id="FAQS">

  <h1 align="center"><a name="_Toc222745732" id="_Toc222745732"></a><a name="_Toc209482399" id="_Toc209482399"></a><a name="_Toc209482021" id="_Toc209482021">Frequently  Asked Questions (FAQ’s)</a> </h1>
	    <p align="center">&nbsp;</p>
	    <p align="center">&nbsp;</p>
	    <p><strong>Q1. Where would a  user find the Student Verification Code (SVC) for validating a ward?</strong><br />

    A1. The SVC can be  found on the verification SMS message which will be sent to a parent or  guardian’s mobile number as indicated in the enrolment form that is filled in  during the enrolment of the ward.</p>
	    <p>&nbsp;</p>
	    <p><strong>Q2. A user forgot  his username and/or password. How does one retrieve a lost username and/or  password?</strong><br />
    A2. There is a <em>“Forgot password” </em>link located in the  main page below the password textbox. Click the link and follow the  instructions indicated.</p>
	    <p>&nbsp;</p>
	    <p><strong>Q3. How often is the  information in the OASIS updated?</strong><br />

    A3. Information in  the OASIS is updated daily after the term’s enrolment period.</p>
	    <p>&nbsp;</p>
	    <p><strong>Q4. What must one do  if the SMS message containing the SVC is lost or not received?</strong><br />
    A4. If this happens,  then one will have to directly go to the Saint Louis University  campus located at Bonifacio Street,   Baguio City and request for a  replacement SVC from the OASIS office.</p>
	    <p>&nbsp;</p>
    <p><strong>Q5. A user has  recently changed my primary e-mail address. How can a user change his currently  registered e-mail address in the OASIS?</strong></p>
	    <p>A5. A user can  change his current e-mail address through the Account Settings manager.</p>

	    <p>&nbsp;</p>
	    <p><strong>Q6. What does a  Login Session Expired mean?</strong><br />
           A6. Your current  session time logged into the website has expired.  The expiration time has been set to a maximum  time limit to 15 minutes for security purposes. If this happens, the user will  have to log in again.</p>
	    <p>&nbsp;</p>
         <p><strong>Q7. A user is  getting an immediate session expiration message. What can a user do about this?</strong><br />
    A7. More than  likely, &quot;cookies&quot; are disabled on the browser. Enable it by clicking <em>Tools</em><strong> </strong>on the File menu, then <em>Internet  Options</em><strong>. </strong>Click <em>Advanced </em>and  then enable cookies.</p>

         <p>&nbsp;</p>
         <p><strong>Q8. One of the wards  recently changed his home address. Can the user update his ward’s records  through the OASIS?</strong><br />
           A8. The OASIS does  not provide a functionality wherein a user can update any of his ward’s  personal records. In order to accomplish the updating of records, you must  directly go to the Registrar’s Office during Saint Louis University’s  working hours (7:30am – 5:00pm Mondays through Saturdays). </p>
         <p>&nbsp;</p>
         <p><strong>Q9. A user cannot  login to the OASIS.</strong><br />
           A9. One possibility  is that the account is blocked due to violations done against the OASIS’ Terms  and Conditions. If this is not the case, please check that the username and  password entered is correct.</p>
         <p>&nbsp;</p>

         <p><strong>Q10. A user cannot  view his ward’s recent grades and all that is seen are past grades.  When will a user be able to view his ward’s  recent grades? </strong><br />
           A10. Student grades  for the most recent term are only officially available one day before enrolment  period and updated after the enrolment period.</p>
         <p>&nbsp;</p>
         <p><strong>Q11. How will a user  know the tuition fee balance of his ward?   How often is it being updated?</strong><br />
           A11. Tuition fee  balance is available at the Fees menu link and is updated every day after the  enrolment.</p>
         <p>&nbsp;</p>
         <p><strong>Q12. In the  attendance page of the OASIS, I don’t see any indication that my ward was  present or not.</strong><br />

           A12. The OASIS  attendance page only shows the number of absences when the class card for the  subject has been dropped.</p>
         <p>&nbsp;</p>
         <p><strong>Q13.  Can a user delete his account?</strong><br />
           A13.  No, a user cannot delete his account.  </p>
         <p>&nbsp;</p>
         <p><strong>Q14.   How does one add a ward?</strong><br />
           A14. One would need  to be logged in first before you could add a ward.  To add a ward, click on the <em>Add New Ward</em> link on the main page of  the user’s OASIS account.  From the <em>Add New Ward</em> page, the user would need  to enter the ward’s ID number and correct SVC.   A user would also need to pass a Captcha test. </p>

         <p>&nbsp;</p>
         <p><strong>Q15.  Can a user remove a ward?</strong><br />
           A15.  No, a user may not delete a ward.  Only adding of ward(s) is supported by the  OASIS.</p>
         <p>&nbsp;</p>
         <p><strong>Q16. Is OASIS for  free?</strong><br />
           A16.  Yes! Every feature and functionality that one can see on OASIS is completely  free.</p>
         <p>&nbsp;</p>

         <p><strong>Q17.&nbsp;How does  one know who else is following my ward?</strong><br />
           A17.&nbsp;On  the User Main Page, other users who are following your ward may be seen at the  upper left corner.</p>
         <p>&nbsp;</p>
         <p><strong>Q18.  Is there a limit to the number of wards one  can add?</strong><br />
           A18.  There is no limit to the number of wards each  user can add.  As long as a user has the  certain ward’s ID number and SVC, addition of a ward will not be a problem.</p>
         <p>&nbsp;</p>

         <p><strong>Q19. How does one  sign in to OASIS?</strong><br />
    A19.  For new users, registration is needed first  before signing in.  Otherwise, one will  only need to enter your username and password in the log-in box that is located  at the right portion of the main page.</p>
         <p>&nbsp;</p>
         <p><strong>Q20. Are the SMS  notifications being received by users for free?</strong><br />
           A20. Yes, the SMS notifications that  are being sent through users’ mobile phones are free.</p>
         <p>&nbsp;</p>
      

           <br/>


<span><%= t :faq_footer1 %><a href=<%= contact_path %>> <%= t :faq_footer2 %> </a><%= t :faq_footer3 %></span>



		</div> 