<div class="grid_12" style="text-align:center;">

		  <h1 ><img src="images/Under-construction.png" alt="" width="83" height="74" /></h1>
		  <h1 >Ang OASIS site ay nagsasagawa ng maintenenance.</h1>
		  <p class="sml">Kami ay kasalukuyang nagdadagdag ng impormasyon ng mga istudyante. Maaring balikan ang website matapos ang ilang oras.</p>
		  <p class="sml">&nbsp; 
	            </p>
		  <div> 
			<ul class="sml"><li>
			  <p>Samantala, maaring mong bisitahin itong mga website:<br />

		      </p>
			  <p> * http://www.slu.edu.ph/<br />
			    * http://my.slu.edu.ph/<br />
			    * http://intrams.slu.edu.ph/<br />
		      </p>
			</li> 
			</ul> 
		</div> 