<div class="grid_12"><span><b>The following are the site requirements:</b></span>
        <ul>
          <li>
            Enabled Javascript
          </li>
                <li>
            Enabled Cookies.
          </li>
                <li>
                  <b>Supported Browsers: </b>Mozilla Firefox, Chrome, Safari, Opera 
          </li>
          
        </ul>
      </div><div id="browser_pics" class="grid_6"></div>